main.designPage__wrapper {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  position: relative;
  padding: 50px 0;
  height: 100%;
  width: 100%;

  img#brand-logo {
    position: unset !important;
  }

  section.copyright__container {
    position: unset !important;
  }

  div.designPage__container {
    display: flex;
    position: relative;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 100%;

    section.designPage__introduction {
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
      text-align: center;
      padding: 25px 25px 0px 25px;
      width: 100%;
      gap: 35px;

      h1 {
        @include responsive(mobile) {
          font-size: 46px;
          line-height: 46px;
        }

        @include responsive(large_mobile) {
          font-size: 52px;
          line-height: 52px;
        }

        @include responsive(tablet) {
          font-size: 82px;
          line-height: 82px;
        }

        @include responsive(laptop) {
          font-size: 100px;
          line-height: 100px;
        }

        @include responsive(large_laptop) {
          font-size: 122px;
          line-height: 122px;
        }
      }

      p {
        line-height: 18px;

        @include responsive(tablet) {
          width: 85%;
        }

        @include responsive(laptop) {
          width: 70%;
        }

        @include responsive(large_laptop) {
          width: 60%;
        }

        @include responsive(small_desktop) {
          width: 55%;
        }

        @include responsive(desktop) {
          width: 50%;
        }

        @include responsive(large_desktop) {
          width: 45%;
        }
      }
    }

    section.designPage__list {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 50px 0px;
      flex-wrap: wrap;
      gap: 25px;

      div.designPage__list--item {
        display: flex;
        align-items: center;
        text-align: center;
        border: 1px solid $portfolio-highlight;
        box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
        transition: ease-in-out 0.15s;
        background: $portfolio-black;
        border-radius: 15px;
        height: auto;
        width: auto;
        flex-wrap: wrap;
        padding: 12.5px;

        img {
          transition: ease-in-out 0.15s;
          border-radius: 15px;
          object-fit: contain;
          cursor: pointer;
          height: 100%;
          width: auto;

          @include responsive(large_mobile) {
            max-height: 350px;
            height: auto;
          }

          @include responsive(tablet) {
            max-height: 400px;
            height: auto;
          }

          @include responsive(laptop) {
            max-height: 450px;
            height: auto;
          }

          @include responsive(large_laptop) {
            max-height: 450px;
            height: auto;
          }
        }

        &:hover {
          border: 1px solid $portfolio-grey;
          transform: scale(1.025);
        }
      }
    }
  }
}
